

body {
    background-color: black;
    color: white;

}


/* Styling the header and navbar */

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border: 5px solid grey;
    
}
header h1 {
    font-size: 200%;
    font-weight: 700;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 5px;

}
.navbar li a {
    padding: 5px;
    border:1px grey;
}


/* Styling the about section */

#about {
    font-size: 110%;
}

.aboutpic {
    display: flex;
    justify-content: space-between;
    height: 250px;
    border: 5px solid grey;
    padding: 5px;
    

}
.biopic {
    display: flex;
    padding-left: 5%;


}

/* Styling the Main content section. */

h2 {
    font-size: 175%;
}

h3{
    font-size: 150%;
}

.maincontent { 
    display: flex;
    

    
}

.test {
    display: flex;
    align-self: center;
    justify-items: center;
    padding-left: 75px;
}

#work {
    display: flex;
    height: 500px;
    width: 75px;
    border: 5px solid grey;
    padding: 20px 0; 
}

.workcards {
    display: flex;
    justify-content: space-between;
    height: 500px;
    border: 5px solid grey;
    flex-wrap: wrap;
    padding: 8px;
}
.mainwork {
    display: flex;
    position:relative;
    border: 5px solid grey;
    height: 60%;
    width: 100%;
}

.workcards .mainwork a {
    display: flex;
}

.workcards .mainwork a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.comingsoon {
    display: flex;
    position: relative;
    border: 5px solid grey;
    height: 35%;
    width: 30%
}

.comingsoon h3 {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    margin-top: 30px;
    margin-left: 30px;
}

.comingsoon img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    

}

.popover {
    position: absolute;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}


/* Styling the footer  */


.contactinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border: 5px solid grey;
    padding: 5px;
}
.contactinfo ul {

    display:flex;
    flex-direction:row;
    
}

.contactinfo ul li {
    padding: 5px;
}