.borderRight {
    border-right: 5px rgb(97, 91, 91);
    border-right-style: ridge;
}

.borderTop {
    border-top: 5px rgb(97, 91, 91);
    border-top-style: ridge;
}




/* Styling the header and navbar */

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    border: 5px solid grey;
    
}
header h1 {
    font-size: 200%;
    font-weight: 700;
}


#customNav {
    border-bottom: 5px black;
    border-bottom-style: double;
    font-size: 175%;
    font-weight: 900;

}

/* Styling the about section */

#about {
    font-size: 110%;
}



.customBtn {
    margin-top: 20px;
    margin-left: 20px;
}


/* Styling the Main content section. */

h2 {
    font-size: 175%;
}

h3{
    font-size: 150%;
}

.maincontent { 
    display: flex;
    

    
}

#customAside {
    border-right: 5px black;
    border-right-style: double;
}

.test {
    display: flex;
    align-self: center;
    justify-items: center;
    padding-left: 75px;
}

#work {
    display: flex;
    height: 500px;
    width: 75px;
    border: 5px solid grey;
    padding: 20px 0; 
}

.workcards {
    display: flex;
    justify-content: space-between;
    height: 500px;
    border: 5px solid grey;
    flex-wrap: wrap;
    padding: 8px;
}
.mainwork {
    display: flex;
    position:relative;
    border: 5px solid grey;
    height: 60%;
    width: 100%;
}





/* Styling the footer  */


.contactinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
}
.contactinfo ul {

    display:flex;
    flex-direction:row;
    
}

.contactinfo ul li {
    padding: 5px;
}